*{
    margin: 0;
    padding: 0;
    outline: 0;
  }
  body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-image: url(../images/bg-img-1.jpg);
    background-size: cover;
    background-position: left bottom;
  }
  h1{
    font-family: 'Lobster', cursive;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 30px;
    }
    h5{
        font-family: 'Lobster', cursive;
        color: black;
        font-size: 30px;
        text-transform: capitalize;
    }
    .btn-fonts{
        font-family: 'Lobster', cursive;
        font-size: 15px;
        text-transform: uppercase;
    }
    p{
        color: black;
        font-size: 20px;
        margin-top: 20px;
    }
    
  .half{
      color: orange;
      font-size: 40px;
  }
  .btn-hire-1{
    color: black;
    text-transform: uppercase;
    padding: 15px 20px;
    background-image: linear-gradient(orange,yellow);
    border: 0;
    border-radius: 5px;
    margin-top: 30px;
  }
  .btn-hire-2{
    color: black;
    text-transform: uppercase;
    padding: 15px 20px;
    background-image: linear-gradient(yellow,orange);
    border: 0;
    border-radius: 5px;
    margin-top: 30px;
  }
  .btn-hire-3{
    color: black;
    text-transform: uppercase;
    padding: 15px 20px;
    background-image: linear-gradient(orange,yellow);
    border: 0;
    border-radius: 5px;
    margin-top: 30px;
}
  .flex{
      display: flex;
      justify-content: space-between;
  }
  .flexible-container{
      padding: 50px;
  }
  .img-1{
      width: 65%;
  }
  .div-half{
      width: 50%;
      padding: 40px;
  }
  .side{
      margin-left: 30px; 
  }
  .experience{
    display: flex;
}
.half-experience{
    width: 50%;
    margin: 40px;
    padding: 40px 30px;
    border-left: 10px solid;
    border-image: linear-gradient(orange,yellow);
    border-image-slice: 1;
    border-radius: 10px;
    box-shadow: 7px 7px 10px gray;
}
.footer{
    text-align: center;
}

